{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block h1 %}
Staff list
{{ time_now }}
{% endblock h1 %}


{% block body %}
    <h2 style="text-align:center">Наши сотрудники:</h2>
    <h2 style="text-align:center">{% current_time %}</h2>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if employees %}
            <table>
                <tr>
                    <td>Full Name:</td>
                    <td>Age</td>
                    <td>Salary</td>
                    <td>Id:</td>
                </tr>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.full_name }}</td>
                        <td>{{ employee.age }}</td>
                        <td>{{ employee.salary }}</td>
                        <td>{{ employee.id }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=1 %}">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <a href="?{% url_replace page=page_obj.previous_page_number  %}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}
            {# Info about current page #}
            {{ page_obj.number }}
            {# Info about next pages #}
            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number  %}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <a href="?{% url_replace page=page_obj.paginator.num_pages  %}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
            <h3 style="padding-top: 80px">Потенциальный новый сотрудник: {{ potential_employee|default_if_none:"Обязательно скоро появится" }}</h3>
    {% else %}
        <h3 style="text-align:center">Сотрудники отсутствуют</h3>
    {% endif %}

{% endblock body %}


{% block smalltext %}
    {{ products }}
    <table>
        <tr>
            <td>Название продукта</td>
            <td>Цена / в рублях</td>
        </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price|currency:'usd' }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock smalltext %}
